body {
    font-family: sans-serif;
    max-width:  40rem;
     margin-left: auto;
     margin-right: auto;
}

.custom-background {
    background-image: url('static-assets-upload1917717271659964129');
    background-repeat: no-repeat;
    background-size: cover;
}
    

